# {{binding.name}} Binding - {{binding.author}}

{{binding.description}}

## Supported Things

{{>partials/things}}

## Discovery

## Binding Configuration

{{>partials/config}}

## Thing Configuration

{{>partials/thingConfig}}

{{>partials/bridges}}

{{>partials/bridgeConfig}}

## Channels

{{>partials/channels}}

{{>partials/channelGroups}}