<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.smarthome.model.sitemap.runtime.internal.SitemapRuntimeExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
            type="sitemap">
      </parser>
   </extension>
   <extension
         point="org.eclipse.xtext.extension_resourceServiceProvider">
      <resourceServiceProvider
            class="org.eclipse.smarthome.model.sitemap.runtime.internal.SitemapRuntimeExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceServiceProvider"
            uriExtension="sitemap">
      </resourceServiceProvider>
   </extension>

</plugin>
