<h2 class="inline" ng-show="thing.channels.length > 0">Channels</h2>
<md-button class="showmore no-margin" ng-click="refreshChannels(showAdvanced=!showAdvanced)" ng-show="isAdvanced">{{showAdvanced ? 'show less' : 'show more'}}</md-button>
<div class="channels">
	<div ng-repeat="group in thingChannels track by $index">
		<div ng-init="collapsed=false">
			<div ng-show="!angular.isUndefined(group.name) && group.name.length > 0 && group.channels && group.channels.length > 0" class="channelGroup">
				<span class="md-title">{{group.name}}</span>
				<i ng-show="!collapsed" ng-click="collapsed=!collapsed" style="font-size: 22px; float: right;" class="md-raised material-icons">unfold_less</i> <i ng-show="collapsed" ng-click="collapsed=!collapsed" style="color: grey; font-size: 22px; float: right;" class="md-raised material-icons">unfold_more</i>
				<div>{{group.description}}</div>
			</div>
			<div class="channel fab-item" ng-init="index=1" ng-repeat="channel in group.channels">
				<div ng-show="!collapsed">
					<div ng-if="channel.kind!='TRIGGER'">
						<md-button ng-if="!advancedMode && channel.linkedItems.length == 0" class="md-fab" ng-click="enableChannel(thing.UID, channel.id, $event)" aria-label="Off"> <i class="material-icons">radio_button_unchecked</i></md-button>
						<md-button ng-if="!advancedMode && channel.linkedItems.length > 0" class="md-fab" ng-click="disableChannel(thing.UID, channel.id,'', $event)" aria-label="On"> <i class="material-icons">radio_button_checked</i></md-button>
						<md-button ng-if="advancedMode" class="md-fab" long-press on-long-press="enableChannel(thing.UID, channel.id, $event,true)" on-click="enableChannel(thing.UID, channel.id, $event)"> <i class="material-icons">{{channel.linkedItems.length > 0 ? 'radio_button_checked':'radio_button_unchecked'}}</i></md-button>
					</div>
					<div ng-if="channel.kind=='TRIGGER'" class="circle" aria-label="Trigger">{{channel.channelType.label?channel.channelType.label.substring(0,1).toUpperCase():'T'}}</div>
					<div class="item-content">
						<h3 long-press on-long-press="showDescription(channel)" ng-if="channel.label || channel.channelType.label">{{channel.label?channel.label:channel.channelType.label}}</h3>
						<h3 ng-if="!channel.label && !channel.channelType.label">{{channel.id}}</h3>
						<p>
							{{thing.UID + ':' + channel.id}}<i ng-show="advancedMode" class="material-icons copy-clipboard" copyclipboard="{{thing.UID + ':' + channel.id}}">content_copy</i>
						</p>
						<p>{{channel.itemType}}</p>
						<div class="actions">
							<i ng-if="getChannelFromChannelTypes(channel.channelTypeUID).parameters && getChannelFromChannelTypes(channel.channelTypeUID).parameters.length > 0" ng-click="configChannel(channel,thing,$event)" aria-label="Edit" class="material-icons">edit</i> <i class="material-icons" style="transition: none" ng-show="advancedMode" ng-click="getLinkedItems(channel)">{{channel.showItems ? 'unfold_less':'unfold_more'}}</i>
						</div>
					</div>
					<div ng-show="channel.showItems" class='linkedItems item-content'>
						<h3 class="noMargin">
							Linked items
							<button class="md-fab md-custom-plus md-button md-ink-ripple" type="button" ng-click="linkChannel(channel.id, $event)" aria-label="Add">
								<span class="ng-scope">+</span>
								<div class="md-ripple-container"></div>
							</button>
						</h3>
						<div ng-repeat="item in channel.items | orderBy" class="row cursor-pointer " ng-class="{'borderhidden':$last}" ng-click="navigateTo('item/edit/' + item.name)">
							<div class="col-xs-1">
								<span class="circle">{{item.label.substring(0,1).toUpperCase()}}</span>
							</div>
							<div class="col-xs-9 name">
								{{item.label}} <small><span>({{item.name}})</span></small>
							</div>
							<div class="col-xs-2 action">
								<i class="material-icons" ng-click="disableChannel(thing.UID, channel.id, item.name, $event)">delete</i>
							</div>
						</div>
					</div>
					<hr ng-if="!$last" class="border-line" />
				</div>
			</div>
		</div>
	</div>
</div>