<div class="binding white-bg" ng-class="{ 'has-section-header' : isConfigurable() }">
	<div class="header-toolbar">
		<md-button class="md-icon-button" aria-label="Refresh" ng-click="navigateTo('configuration/bindings')" aria-label="close"> <md-tooltip>Close</md-tooltip> <i class="material-icons">close</i> </md-button>
	</div>

	<div class="section-header" ng-if="isConfigurable()">
		<div class="container">
			<div class="toolbar">
				<md-button class="md-fab" ng-if="isConfigurable()" ng-click="configure($event)" aria-label="edit binding"> <i class="material-icons">edit</i></md-button>
			</div>
		</div>
	</div>

	<div class="container">
		<div ng-include="'partials/configuration.binding.overview.html'"></div>
		<hr>
		<div ng-include="'partials/configuration.binding.thingtypes.html'"></div>
	</div>
</div>
