<section id="main" class="white-bg extensions header-tabs">
	<div class="header-toolbar">
		<md-button ng-click="refresh()" aria-label="Refresh"> <i class="material-icons">refresh</i></md-button>
		<md-button ng-click="navigateTo('configuration/bindings')" aria-label="Close"> <i class="material-icons">close</i></md-button>
	</div>
	<md-tabs md-stretch-tabs="always" class="section-tabs" md-selected="selectedIndex"> <md-tab ng-disabled="tab.disabled" label="Overview" layout-fill> <md-tab-content layout-fill="">
	<div class="container">
		<h3>Author</h3>
		<p>{{binding.author}}</p>
		<h3>Description</h3>
		<p ng-bind-html="binding.description"></p>
	</div>

	</md-tab-content> </md-tab> <md-tab ng-if="binding.thingTypes && binding.thingTypes.length>0" ng-disabled="tab.disabled" label="Supported Things" layout-fill> <md-tab-content layout-fill="">
	<div class="search" layout="row" layout-align="center center">
		<i ng-style="{'font-size': '24px'}" class="material-icons">search</i>
		<md-input-container flex="auto" md-no-float class="md-block"> <input ng-model="searchText" type="text" placeholder="Search"> </md-input-container>
		<i ng-click="searchText = undefined" ng-class="{'vhidden': !searchText}" ng-style="{'font-size': '24px'}" class="material-icons">close</i>
	</div>

	<div class="container">
		<div class="thing-type list-item" ng-repeat="thingType in binding.thingTypes | filter:filterItems(['uid','label'], searchText)">
			<div ng-init="thingType.collapsed=true" class="thing container">
				<div>
					<h3>{{thingType.label}}</h3>
					<div ng-if="thingType.description != null && thingType.description.length > 0">
						<i ng-show="!thingType.collapsed" ng-click="thingType.collapsed=true" style="font-size: 22px; float: right;" class="md-raised material-icons">unfold_less</i> <i ng-show="thingType.collapsed" ng-click="thingType.collapsed=false" style="font-size: 22px; float: right; color: grey;" class="md-raised material-icons">unfold_more</i>
					</div>
				</div>

				<p>{{thingType.UID}}</p>

				<div ng-if="!thingType.collapsed">
					<small ng-bind-html="thingType.description"></small>
					<hr>
				</div>
			</div>
		</div>

	</div>




	</md-tab-content></md-tab>
</section>

