<div class="bindings white-bg" ng-class="{'has-section-header' : extensionServiceAvailable}">
	<div class="header-toolbar">
		<md-button ng-click="refresh()" aria-label="Refresh"> <i class="material-icons">refresh bindings</i></md-button>
	</div>

	<div class="section-header" ng-if="extensionServiceAvailable">
		<div class="container">
			<div class="toolbar">
				<md-button class="md-fab" ng-click="navigateTo('/extensions')" aria-label="add binding"> <i class="material-icons">add</i></md-button>
			</div>
		</div>
	</div>

	<div class="bindingsContainer container">
		<div class="clickable" ng-repeat="binding in bindings | orderBy:'name' track by binding.id">
			<div class="binding fab-item text-left" ng-click="navigateTo('/configuration/bindings/' + binding.id)" aria-label="show binding details">
				<div class="circle">{{::binding.name.substring(0,1).toUpperCase()}}</div>
				<div class="item-content">
					<div class="description">
						<h3>
							{{::binding.name}} <small>{{::binding.id}}</small>
						</h3>
						<p ng-if="binding.author" class="text-left">{{::binding.author}}</p>
					</div>
					<div class="actions">
						<i class="material-icons" ng-if="isConfigurable(binding)" ng-click="configure(binding, $event)" aria-label="edit binding">edit</i>
						<!-- i class="material-icons" ng-click="remove(binding, $event)" aria-label="Delete">delete</i -->
					</div>
				</div>
				<hr class="border-line" ng-show="!$last" />
			</div>
		</div>
	</div>
</div>
