<section id="main">
	<div class="bindings tab-panel content" ng-if="page === 'bindings'" ng-controller="BindingController">
		<div class="header-toolbar">
			<md-button ng-click="refresh()" aria-label="Refresh"> <i class="material-icons">refresh</i></md-button>
		</div>
		<div class="section-header"></div>
		<div class="container">
			<div class="bindings row">
				<div class="col-md-4 col-sm-6 col-xs-12 item-wrapper" ng-repeat="binding in data.bindings">
					<div class="card binding text-left" data-binding-id="{{binding.id}}">
						<div class="clabel">
							<h3 class="md-title">
								{{binding.name}} <small>{{binding.id}}</small>
							</h3>

							<p class="text-left">{{binding.author}}</p>
							<div class="text-right">
								<md-button ng-show="binding.configDescriptionURI" aria-label="Configure" ng-click="configure(binding.id, binding.configDescriptionURI, $event)">Configure</md-button>
								<md-button ng-click="openBindingInfoDialog(binding.id, $event)">More</md-button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="services tab-panel content" ng-if="page === 'services'" ng-controller="ServicesController">
		<div class="header-toolbar">
			<md-button ng-click="refresh()" aria-label="Refresh"> <i class="material-icons">refresh</i></md-button>
		</div>
		<div class="section-header">
			<div class="container">
				<div class="toolbar">
					<md-button class="md-fab" ng-click="add()" aria-label="Add Configuration"> <i class="material-icons">add</i></md-button>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="services row">
				<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="service in services">
					<div class="card text-left" data-service-id="{{service.id}}">
						<div class="clabel">
							<h3 class="md-title">
								{{service.label}} <small>{{service.id}}</small>
							</h3>

							<p class="text-left">{{service.category}}</p>
							<div class="text-right">
								<md-button aria-label="Remove" ng-click="remove(service.id, $event)">Remove</md-button>
								<md-button aria-label="Configure" ng-click="configure(service.id, service.configDescriptionURI, $event)">Configure</md-button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<p class="text-center" ng-show="services.length === 0">
				<span>No configurable service active yet. You can bootstrap a service by adding a configuration.</span>
				<button class="md-button" title="Add Configuration" ng-click="add()">Add Service Configurarion</button>
			</p>
		</div>
	</div>
	<div class="things white-bg" ng-if="page === 'things' && !path[3]" ng-controller="ThingController">
		<div class="header-toolbar">
			<md-button ng-click="refresh()" aria-label="Refresh"> <i class="material-icons">refresh</i></md-button>
		</div>
		<div class="section-header">
			<div class="container">
				<div class="toolbar">
					<md-button class="md-fab" ng-click="$location.path('inbox/setup')" aria-label="Add"> <i class="material-icons">add</i></md-button>
				</div>
			</div>
		</div>
		<div class="container">
			<p class="text-center" ng-show="data.things.length == 0">
				No things configured yet.
				<button class="md-button" ng-click="$location.path('inbox/setup')">Add Things</button>
			</p>
			<div class="things">
				<div class="clickable" ng-repeat="thing in data.things | filter:search">
					<div class="thing fab-item text-left" data-thing-uid="{{thing.UID}}" ng-click="navigateTo('things/view/' + thing.UID)">
						<div class="circle">{{thing.UID.split(':')[1].substring(0,1).toUpperCase()}}</div>
						<div class="cbody item-content">
							<h3>
								{{thing.label}} <small class="badge" ng-class="thing.statusInfo.status.toLowerCase()">{{thing.statusInfo.status}}</small>
							</h3>
							<p>{{thingTypes[thing.thingTypeUID].label}}</p>
							<p>{{thing.UID}}</p>
							<div class="actions">
								<md-button class="md-raised" ng-click="navigateTo('things/edit/' + thing.UID)" aria-label="Edit"> <i class="material-icons">edit</i></md-button>
								<md-button class="md-raised" ng-click="remove(thing, $event)" aria-label="Delete"> <i class="material-icons">delete</i></md-button>
							</div>
						</div>
						<hr class="border-line" ng-show="!$last" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="thing-view white-bg" ng-if="page === 'things' && path[3] === 'view'" ng-controller="ViewThingController">
		<div class="header-toolbar">
			<md-button ng-click="remove(thing, $event)" aria-label="Delete"> <i class="material-icons">delete</i></md-button>
			<md-button ng-click="navigateTo('things')" aria-label="Close"> <i class="material-icons">close</i></md-button>
		</div>
		<div class="section-header">
			<div class="container">
				<div class="toolbar">
					<md-button class="md-fab" ng-click="navigateTo('things/edit/' + thing.UID)" aria-label="Edit"> <i class="material-icons">edit</i></md-button>
				</div>
			</div>
		</div>
		<div class="container">
			<h3>{{thingType.label}}</h3>
			<p>{{thingType.description}}</p>
			<hr />
			<p>
				Status:
				<span class="badge" ng-class="thing.statusInfo.status.toLowerCase()">{{thing.statusInfo.status}} {{thing.statusInfo.statusDetail !== 'NONE' ? ' - ' + thing.statusInfo.statusDetail : ''}}</span>
				<span>
					<small></small>
				</span>
				<span>{{thing.statusInfo.description}}</span>
			</p>
			<h2 class="inline" ng-show="thing.channels.length > 0">Channels</h2>
			<md-button class="showmore" ng-init="showAdvanced = false" ng-click="refreshChannels(showAdvanced=!showAdvanced)" ng-show="isAdvanced">{{showAdvanced ? 'show less' : 'show more'}}</md-button>
			<div class="channels">
				<div ng-repeat="group in thingChannels track by $index">
					<div ng-init="collapsed=false">
						<div ng-show="!angular.isUndefined(group.name) && group.name.length > 0">
							<span class="md-title">{{group.name}}</span>
							<i ng-show="!collapsed" ng-click="collapsed=!collapsed" style="font-size: 22px; float: right;" class="md-raised material-icons">unfold_less</i> <i ng-show="collapsed" ng-click="collapsed=!collapsed" style="color: grey; font-size: 22px; float: right;" class="md-raised material-icons">unfold_more</i>
							<div>{{group.description}}</div>
						</div>
						<div class="channel fab-item" ng-init="index=1" ng-repeat="channel in group.channels">
							<div ng-show="!collapsed">
								<md-button ng-if="channel.linkedItems.length == 0" class="md-fab" ng-click="enableChannel(thing.UID, channel.id, $event)" aria-label="Off"> <i class="material-icons">radio_button_unchecked</i></md-button>
								<md-button ng-if="channel.linkedItems.length > 0" class="md-fab" ng-click="disableChannel(thing.UID, channel.id, $event)" aria-label="On"> <i class="material-icons">radio_button_checked</i></md-button>
								<div class="item-content">
									<h3 ng-if="getChannelById(channel.id).label">{{getChannelById(channel.id).label}}</h3>
									<h3 ng-if="!getChannelById(channel.id).label && getChannelTypeById(channel.id).label">{{getChannelTypeById(channel.id).label}}</h3>
									<h3 ng-if="!getChannelById(channel.id).label && !getChannelTypeById(channel.id).label">{{channel.id}}</h3>
									<p>{{thing.UID + ':' + channel.id}}</p>
									<p ng-if="getChannelById(channel.id).description">{{getChannelTypeById(channel.id).description}}</p>
									<p ng-if="!getChannelById(channel.id).description && getChannelTypeById(channel.id).description">{{getChannelTypeById(channel.id).description}}</p>									
								</div>
								<hr class="border-line" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="thing-edit white-bg" ng-if="page === 'things' && path[3] === 'edit'" ng-controller="EditThingController">
		<div class="header-toolbar">
			<md-button ng-click="navigateTo('things/view/' + thing.UID)" aria-label="Close"> <i class="material-icons">close</i></md-button>
		</div>
		<div class="section-header">
			<div class="container">
				<div class="toolbar">
					<md-button title="Save" ng-click="update(thing)" ng-disabled="form.configForm.$invalid" class="md-fab" aria-label="Save"> <i class="material-icons">check</i></md-button>
				</div>
			</div>
		</div>
		<div ng-init="counter=0;form={}">
			<div ng-include="'partials/include.thingconfig.html'" onload="counter=counter+1;"></div>
			<div class="container">
				<h3>Configuration Parameters</h3>
				<p>Configure parameters for the thing.</p>
				<div ng-if="counter==1" ng-include="'partials/include.config.html'" onload="configuration=thing.configuration"></div>
			</div>
		</div>
	</div>
</section>
