<section id="main" class="control header-tabs">
	<div class="header-toolbar">
		<md-button ng-click="refresh()" aria-label="Refresh"> <i class="material-icons">refresh</i></md-button>
	</div>

	<!-- right now, we always have an "All" tab; once we introduce locations/rooms, this can be added again 
	<p class="text-center" ng-show="tabs.length == 0" style="margin-top: 20px;">
		No locations defined yet.
		<button class="md-button" ng-click="$location.path('configuration/locations')">Add Location</button>
	</p>
 -->
	<md-tabs md-stretch-tabs="always" class="section-tabs" md-selected="selectedIndex" ng-show="tabs.length > 0"> <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.label}}" layout-fill> <md-tab-content layout-fill="">

	<p class="text-center" ng-show="getItem(tabs[selectedIndex].name).members.length == 0">
		No Things available.
		<button class="md-button" ng-click="$location.path('inbox/setup')">Add Thing</button>
	</p>
	<div ng-controller="ControlController" class="items row" md-swipe-left="next()" md-swipe-right="prev()" ng-if="tabs[selectedIndex] === tab" ng-attr-id="{{'items-' + tabs.indexOf(tab)}}">
		<div class="col-lg-4 col-sm-6 col-xs-12 item-wrapper" ng-repeat="thing in things">
			<div class="card item" ng-show="isLoadComplete">
				<h3 class="clabel">{{thing.label}}</h3>
				<div class="ibadge">
					<span class="icon-x">
				</div>
				<div ng-repeat="group in thing.thingChannels">
					<div ng-if="!angular.isUndefined(group.name) && group.name.length > 0 && group.channels.length>0">
						<h2>{{group.name}}</h2>
					</div>
					<div class="" ng-repeat="channel in group.channels">
						<div ng-if="channel.linkedItems.length>0">
							<div class="">

								<div ng-init="item = getItem(channel.linkedItems[0])">
									<div ng-if="item" ng-include="'partials/include.itemcontrol.html'"></div>
								</div>
								<hr ng-if="!$last" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</md-tab-content> </md-tab> </md-tabs>
</section>