<div class="row">
	<div ng-show="!expertMode">
		<div ng-repeat="parameter in parameters">
			<div class="parameter col-sm-6 col-xs-12" ng-switch="parameter.element">
				<div ng-switch-when="input">
					<md-input-container> <label>{{parameter.label}}</label>
					<input ng-model="configuration[parameter.name]"
						ng-required="parameter.required" type="{{parameter.inputType}}">
					<p class="hint">
						<small>{{parameter.description}}</small>
					</p>
					</md-input-container>
				</div>
				<div ng-switch-when="switch">
					<md-switch ng-model="configuration[parameter.name]"
						aria-label="parameter.label">{{parameter.label}}</md-switch>
					<p class="hint">
						<small>{{parameter.description}}</small>
					</p>
				</div>
				<div ng-switch-when="select">
					<md-select ng-model="configuration[parameter.name]"
						placeholder="Select a value"> <md-option
						ng-value="option.value" ng-repeat="option in parameter.options">{{
					option.label }}</md-option> </md-select>
					<p class="hint">
						<small>{{parameter.description}}</small>
					</p>
				</div>
			</div>
			<div ng-if="$odd" class="clearfix"></div>
		</div>
	</div>
	<div class="expert-view" ng-show="expertMode">
		<div ng-repeat="parameter in configArray">
			<div class="parameter col-xs-12" layout="row">
				<md-input-container flex="30"> <label>Name</label>
				<input ng-model="configArray[$index].name" type="text"> </md-input-container>
				<md-input-container flex="70"> <label>Value</label>
				<input ng-model="configArray[$index].value" type="text"> </md-input-container>
			</div>
		</div>
	</div>
</div>
