<div class="fab-item" ng-repeat="discoveryResult in data.discoveryResults | filter:filter | orderBy:flag" ng-controller="InboxEntryController">
	<md-button title="Add" class="md-fab green" ng-click="approve(discoveryResult.thingUID,discoveryResult.thingTypeUID, $event)" aria-label="Approve"> <i class="material-icons">done</i></md-button>
	<div class="item-content">
		<h3>
			{{thingTypes[discoveryResult.thingTypeUID].label}} <small ng-show="discoveryResult.flag === 'IGNORED'" class="badge">IGNORED</small>
		</h3>
		<p>{{discoveryResult.label}}</p>
		<p>{{discoveryResult.thingUID}}</p>
		<div class="actions">
			<md-button ng-show="discoveryResult.flag === 'IGNORED'" ng-click="unignore(discoveryResult.thingUID)" aria-label="Unignore"> <i class="material-icons">visibility</i></md-button>
			<md-button ng-show="discoveryResult.flag !== 'IGNORED'" ng-click="ignore(discoveryResult.thingUID)" aria-label="Ignore"> <i class="material-icons">visibility_off</i></md-button>
			<md-button ng-click="remove(discoveryResult.thingUID, $event)" aria-label="Delete"> <i class="material-icons">delete</i></md-button>
		</div>
	</div>
	<hr class="border-line" ng-show="!$last" />
</div>
<p class="text-center">
	<button class="md-button" ng-click="toggleShowIgnored()" aria-label="Toggle Show Ignored">{{showIgnored ? 'Hide Ignored' : 'Show Ignored'}}</button>
</p>
