<div class="fab-item" ng-repeat="discoveryResult in data.discoveryResults | filter:filter | orderBy:flag" ng-controller="InboxEntryController" ng-init="getThingTypes()">
	<md-button title="Add" class="md-fab green" ng-click="approve(discoveryResult.thingUID,discoveryResult.thingTypeUID, $event)" aria-label="Approve"> <i class="material-icons">done</i></md-button>
	<div class="item-content">
		<h3>
			{{discoveryResult.label}} <small ng-show="discoveryResult.flag === 'IGNORED'" class="badge">IGNORED</small>
		</h3>
		<p>{{getThingTypeLabel(discoveryResult.thingTypeUID)}}</p>
		<p>{{discoveryResult.thingUID}}</p>
		<div class="actions">
			<i class="material-icons" ng-show="discoveryResult.flag === 'IGNORED'" ng-click="unignore(discoveryResult.thingUID)" aria-label="Unignore">visibility</i>
			<i class="material-icons" ng-show="discoveryResult.flag !== 'IGNORED'" ng-click="ignore(discoveryResult.thingUID)" aria-label="Ignore">visibility_off</i>
		    <i class="material-icons" ng-click="remove(discoveryResult.thingUID, $event)" aria-label="Delete">delete</i>
		</div>
	</div>
	<hr class="border-line" ng-show="!$last" />
</div>
<p class="text-center">
	<button ng-show="areEntriesIgnored(data.discoveryResults)" class="md-button" ng-click="toggleShowIgnored()" aria-label="Toggle Show Ignored">{{showIgnored ? 'Hide Ignored' : 'Show Ignored'}}</button>
</p>
