<div ng-switch on="item.type" class="icontrol" ng-controller="ItemController">
	<div ng-switch-when="SwitchItem" ng-controller="SwitchItemController">
		<div layout="row" layout-align="start center" class="dimmer-widget">
			<div flex="40">
				<p>
					<i class="material-icons">{{getIcon(item.category)}}</i>{{getLabel(item.category, item.label, 'Switch')}}
				</p>
			</div>
			<div flex="60" layout="row" layout-align="end center" class="switch-widget">
				<md-switch ng-disabled="isReadOnly(item)" ng-model="item.state" ng-change="setOn(item.state)" ng-true-value="'ON'" ng-false-value="'OFF'" aria-label={{item.label}}></md-switch>
			</div>
		</div>
	</div>
	<div ng-switch-when="DimmerItem" ng-controller="DimmerItemController">
		<div layout="row" layout-align="start center" class="dimmer-widget">
			<div flex="40">
				<p>
					<i class="material-icons">{{getIcon(item.category, 'brightness_medium')}}</i>{{getLabel(item.category, item.label, 'Dimmer')}}
				</p>
			</div>
			<div flex="60" layout="row" layout-align="end center" class="dimmer-widget">
				<h2>{{item.state}}%</h2>
			</div>
		</div>
		<md-slider style="height: 40px;" flex min="0" max="100" ng-model="item.state" ng-change="setBrightness(item.state)" aria-label={{item.label}}></md-slider>
		<div layout="row" layout-align="start center" class="dimmer-widget" ng-if="!isHideSwitch(item.category)">
			<div flex="40">
				<p>Off/On</p>
			</div>
			<div flex="60" layout="row" layout-align="end center" class="dimmer-widget">
				<md-switch ng-model="on" ng-change="setOn(on)" ng-true-value="'ON'" ng-false-value="'OFF'" aria-label={{item.label}}></md-switch>
			</div>
		</div>
	</div>
	<div ng-switch-when="ColorItem" ng-controller="ColorItemController">
		<div layout="row" layout-align="start center" class="dimmer-widget">
			<div flex="40">
				<p>
					<i class="material-icons">wb_incandescent</i>{{getLabel(item.category, null, 'Color')}}
				</p>
			</div>
			<div flex="60" layout="row" layout-align="end center" class="dimmer-widget">

				<md-slider class="hue" flex min="0" max="360" ng-model="hue" ng-change="setHue(hue)" aria-label="{{item.label}} hue"></md-slider>
			</div>
		</div>
		<div layout="row" layout-align="start center" class="dimmer-widget">
			<div flex="40">
				<p class="">Brightness</p>
			</div>
			<div flex="60" layout="row" layout-align="end center" class="dimmer-widget">
				<md-slider flex min="0" max="100" ng-model="brightness" ng-change="setBrightness(brightness)" aria-label="{{item.label}} brightness"></md-slider>
			</div>
		</div>
		<div layout="row" layout-align="start center" class="dimmer-widget">
			<div flex="40">
				<p class="">Saturation</p>
			</div>
			<div flex="60" layout="row" layout-align="end center" class="dimmer-widget">
				<md-slider flex min="0" max="100" ng-model="saturation" ng-change="setSaturation(saturation)" aria-label="{{item.label}} saturation"></md-slider>
			</div>
		</div>
	</div>
	<div ng-switch-when="NumberItem" ng-controller="NumberItemController">
		<div layout="row" layout-align="start center">
			<div flex="40" layout="row" layout-align="start center">
				<p>
					<i class="material-icons">{{getIcon(item.category, 'trending_up')}}</i>{{getLabel(item.category, item.label, 'Value')}}
				</p>
			</div>
			<div flex="60">
				<div ng-show="isReadOnly(item)" layout="row" layout-align="end center">
					<h2 class="state" ng-if="isReadOnly(item)">{{getStateText(item)}}</h2>
				</div>
				<div ng-show="!isReadOnly(item)" layout="row" layout-align="end center">
					<h2 class="state edit" ng-if="!editMode" ng-click="editState()">{{getStateText(item)}}</h2>
					<md-input-container ng-show="editMode"> <input ng-model="item.state" aria-label={{item.label}}></input> </md-input-container>
					<button class="md-button" ng-show="editMode" ng-click="updateState()">
						<i class="material-icons">check</i>
					</button>
				</div>
			</div>
		</div>
		<div ng-if="shouldRenderSlider(item)" layout="row" layout-align="start center" class="number-control-widget">
			<span flex="15" class="text-left" ng-if="getMinText(item)">{{getMinText(item)}}</span>
			<md-slider flex="70" min="{{item.stateDescription.minimum}}" max="{{item.stateDescription.maximum}}" step="{{item.stateDescription.step}}" ng-model="item.state" md-discrete="true" ng-if="getMinText(item) && getMaxText(item)" ng-change="sendCommand(item.state)" aria-label={{item.label}}></md-slider>
			<span flex="15" class="text-right" ng-if="getMaxText(item)">{{getMaxText(item)}}</span>
		</div>
	</div>
	<div ng-switch-when="RollershutterItem" ng-controller="RollershutterItemController">
		<div layout="row" layout-align="start center">
			<div flex="40" layout="row" layout-align="start center">
				<p>
					<i class="material-icons">{{getIcon(item.category, 'format_align_justify')}}</i>{{getLabel(item.category, item.label, 'Position')}}
				</p>
			</div>
			<div flex="60" layout="row" layout-align="end center">
				<h2 class="state editable text-center" ng-if="!editMode" ng-click="editState()">{{item.state}} %</h2>
				<md-input-container ng-show="editMode" flex aria-label={{item.label}}> <input ng-model="item.state" aria-label={{item.label}}></input> </md-input-container>
				<button class="md-button" ng-show="editMode" ng-click="updateState()">
					<i class="material-icons">check</i>
				</button>
			</div>
		</div>
		<div layout="row" layout-align="end center">
			<div flex="40" layout="row" layout-align="start center">
				<p>Control</p>
			</div>
			<div flex="60" layout="row" layout-align="end center">
				<button class="md-button" ng-click="sendCommand('DOWN')">
					<i class="material-icons">vertical_align_bottom</i>
				</button>
				<button class="md-button" ng-click="sendCommand('STOP')">
					<i class="material-icons">stop</i>
				</button>
				<button class="md-button" ng-click="sendCommand('UP')">
					<i class="material-icons">vertical_align_top</i>
				</button>
			</div>
		</div>
	</div>
	<div ng-switch-when="PlayerItem" ng-controller="PlayerItemController">
		<div layout="row" layout-align="end center">
			<div flex="40" layout="row" layout-align="start center">
				<p>
					<i class="material-icons">{{getIcon(item.category, 'play_arrow')}}</i>{{getLabel(null, item.label, 'Control')}}
				</p>
			</div>
			<div flex="60" layout="row" layout-align="end center">
				<button class="md-button" ng-click="sendCommand('PREVIOUS')">
					<i class="material-icons">skip_previous</i>
				</button>
				<button ng-show="item.state !== 'PLAY'" class="md-button" ng-click="sendCommand('PLAY', true)">
					<i class="material-icons">play_arrow</i>
				</button>
				<button ng-show="item.state === 'PLAY'" class="md-button" ng-click="sendCommand('PAUSE', true)">
					<i class="material-icons">pause</i>
				</button>
				<button class="md-button" ng-click="sendCommand('NEXT')">
					<i class="material-icons">skip_next</i>
				</button>
			</div>
		</div>
	</div>
	<div ng-switch-when="ContactItem" ng-controller="DefaultItemController">
		<div layout="row" layout-align="end center">
			<div flex="40" layout="row" layout-align="start center">
				<p>
					<i class="material-icons">{{getIcon(item.category)}}</i>{{getLabel(item.category, item.label, 'Contact')}}
				</p>
			</div>
			<div flex="60" layout="row" layout-align="end center">
				<h2 class="state">{{getStateText(item)}}</h2>
			</div>
		</div>
	</div>
	<div ng-switch-when="LocationItem" ng-controller="LocationItemController">
		<div layout="row" layout-align="start center">
			<p>
				<i class="material-icons">place</i>{{getLabel(item.category, item.label, 'Location')}}
			</p>
		</div>
		<div layout="row" layout-align="start center" class="map-container">
			<div layout="row" layout-align="start center" flex>
				<iframe width="100%" ng-src="{{url}}"></iframe>
			</div>
		</div>
		<div layout="row" layout-align="start center">
			<div ng-show="isReadOnly(item)" layout="row" layout-align="end center">
				<h2 class="state" ng-if="isReadOnly(item)">{{formattedState}}</h2>
			</div>
			<div ng-show="!isReadOnly(item)" layout="row" layout-align="end center">
				<h2 class="state edit" ng-if="!editMode" ng-click="editState()">{{formattedState}}</h2>
				<md-input-container ng-show="editMode"> <input ng-model="item.state" aria-label={{item.label}}></input> </md-input-container>
				<button class="md-button" ng-show="editMode" ng-click="updateState()">
					<i class="material-icons">check</i>
				</button>
			</div>
		</div>
	</div>
	<div ng-switch-when="ImageItem" ng-controller="ImageItemController">
		<div layout-align="start center" layout="row">
			<div flex="60">
				<p class="ng-binding">
					<i class="material-icons">camera_alt</i>Camera image
				</p>
			</div>
			<div layout="row" layout-align="end center" flex="40">
				<button ng-click="refreshCameraImage()" class="md-default-theme md-raised ng-binding md-button">
					<i class="material-icons">autorenew</i>
				</button>
			</div>
		</div>
		<div class="image-widget" layout-align="center center" layout="row">
			<div layout-align="end center" layout="row">
				<img class="image-scaled" ng-hide="item.state === 'NULL' || item.state === 'UNDEF'" ng-src="{{'data:image/jpeg;base64,'+ item.state}}">
				<span class="error-message" ng-show="item.state === 'NULL' || item.state === 'UNDEF'">
					<center>No image is currently present</center>
				</span>
			</div>
		</div>
	</div>
	<div ng-switch-default ng-controller="DefaultItemController">
		<div layout="row" layout-align="start center">
			<p>
				<i class="material-icons">{{getIcon(item.category)}}</i>{{getLabel(item.category, item.label, 'Value')}}
			</p>
		</div>

		<!-- default text output -->
		<div layout="row" layout-align="start center" ng-show="!isOptionList(item)">
			<div ng-show="isReadOnly(item)" layout="row" layout-align="start center" flex>
				<h2 class="state" ng-if="isReadOnly(item)">{{getStateText(item)}}</h2>
			</div>
			<div ng-show="!isReadOnly(item)" layout="row" layout-align="end center" flex="100">
				<h2 class="state editable text-center" ng-if="!editMode" ng-click="editState()" flex>{{getStateText(item)}}</h2>
				<md-input-container ng-show="editMode" flex> <input ng-model="item.state" aria-label={{item.label}}></input> </md-input-container>
				<button class="md-button" ng-show="editMode" ng-click="updateState()">
					<i class="material-icons">check</i>
				</button>
			</div>
		</div>

		<!-- for option list selection -->
		<div layout="row" layout-align="start center" ng-show="isOptionList(item)">
			<div layout="row" layout-align="end center" flex="100">
				<div class="container options">
					<md-select ng-model="item.state" ng-change="optionListChanged()" ng-disabled="isReadOnly(item)" aria-label={{item.label}}> <md-option ng-value="option.value" ng-repeat="option in item.stateDescription.options"> {{option.label}} ({{option.value}}) </md-option> </md-select>
				</div>
			</div>
		</div>
	</div>
</div>
