<div class="container" ng-if="thing.item">
	<div class="thingName">
		<md-input-container> <label>Name</label> <input ng-model="thing.label"> </md-input-container>
	</div>
</div>
<div class="container" ng-if="needsBridge">
	<h3>Bridge Selection</h3>
	<div class="form-group">
		<md-select placeholder="Select a Bridge" ng-model="thing.bridgeUID" ng-readonly="true"> <md-option ng-value="bridge.UID" ng-repeat="bridge in bridges">{{bridge.label + ' - '}}{{bridge.UID}}</md-option> </md-select>
	</div>
	<hr />
</div>