<div class="row">
    <div ng-repeat="parameter in parameters">
        <div class="parameter col-sm-6 col-xs-12">
            <div ng-if="parameter.element === 'input'">
                <md-input-container> <label>{{parameter.label}}</label>
                <input ng-model="configuration[parameter.name]"
                    ng-required="parameter.required"
                    type="{{parameter.inputType}}">
                <p class="hint">
                    <small>{{parameter.description}}</small>
                </p>
                </md-input-container>
            </div>
            <div ng-if="parameter.element === 'switch'">
                <md-switch ng-model="configuration[parameter.name]"
                    aria-label="parameter.label">{{parameter.label}}</md-switch>
                <p class="hint">
                    <small>{{parameter.description}}</small>
                </p>
            </div>
            <div ng-if="parameter.element === 'select'">
                <md-select ng-model="configuration[parameter.name]"
                    placeholder="Select
                a value">
                <md-option ng-value="option.value"
                    ng-repeat="option in parameter.options">{{
                option.label }}</md-option> </md-select>
                <p class="hint">
                    <small>{{parameter.description}}</small>
                </p>
            </div>
        </div>
        <div ng-if="$odd" class="clearfix"></div>
    </div>
</div>
