<div class="container" ng-if="thing.item">
    <h3>Name and Groups</h3>

    <div>
        <md-input-container> <input
            ng-model="thing.item.label"> </md-input-container>
    </div>
    <div ng-show="!thingType.bridge || thingType.channels.length > 0 || thingType.channelGroups.length > 0">
        <md-checkbox ng-repeat="homeGroup in homeGroups"
            ng-model="groupNames[homeGroup.name]" class="inline">{{homeGroup.label}}</md-checkbox>
        <p ng-show="homeGroups.length == 0">
            No groups defined yet.
            <button class="md-button"
                ng-click="$location.path('configuration/groups')">Add
                Group</button>
        </p>
    </div>
    <hr />
</div>
<div class="container" ng-if="needsBridge">
    <h3>Bridge Selection</h3>
    <div class="form-group">
        <md-select placeholder="Select a Bridge"
            ng-model="thing.bridgeUID" ng-readonly="true"> <md-option
            ng-value="bridge.UID" ng-repeat="bridge in bridges">{{bridge.item.label
        + ' - '}}{{bridge.UID}}</md-option> </md-select>
    </div>
    <hr />
</div>
<div class="container">
    <h3>Configuration Parameters</h3>
    <p>Configure parameters for the thing.</p>
    <div ng-include="'partials/include.config.html'"
        onload="configuration=thing.configuration"></div>
</div>