<?xml version="1.0" encoding="UTF-8"?>
<settings>

<!--
  Eclipse.org committers or build engineers should uncomment this section and fill in as
  appropriate for releasing and deploying items to the Nexus repository.  Add as many
  server entries as you need.  These should correspond to your Distribution management ids as well.

   <servers>
      <server>
        <id>eclipse-milestone</id>
        <username>my_login</username>
        <password>my_password</password>
        <privateKey>${user.home}/.ssh/id_dsa</privateKey>
      </server>
   </servers>
-->
   <mirrors>
     <mirror>
       <id>eclipse-central</id>
       <mirrorOf>central</mirrorOf>
       <url>http://maven.eclipse.org/nexus/content/groups/central/</url>
     </mirror>
     <mirror>
       <id>eclipse-repositories</id>
       <mirrorOf>milestone,integration,nightly,*</mirrorOf>
       <url>http://maven.eclipse.org/nexus/content/groups/public/</url>
     </mirror>
   </mirrors>

<profiles>
    <profile>
      <id>milestone</id>
      <activation><activeByDefault>false</activeByDefault></activation>
      <repositories>
        <repository>
          <id>milestone</id>
          <name>Milestone releases</name>
          <url>http://maven.eclipse.org/milestone</url>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
      </repositories>  
    </profile>
    <profile>
      <id>integration</id>
      <activation><activeByDefault>false</activeByDefault></activation>
      <repositories>
        <repository>
          <id>integration</id>
          <name>Integration releases</name>
          <url>http://maven.eclipse.org/integration</url>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>  
    </profile>
    <profile>
      <id>nightly</id>
      <activation><activeByDefault>false</activeByDefault></activation>
      <repositories>
        <repository>
          <id>nightly</id>
          <name>Nightly releases</name>
          <url>http://maven.eclipse.org/nightly</url>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>  
    </profile>
  </profiles>

  <activeProfiles>
      <activeProfile>milestone</activeProfile>
      <activeProfile>nightly</activeProfile>
  </activeProfiles>

</settings>
