<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.smarthome.designer.ui.application"
            name="Eclipse SmartHome Designer">
         <property
               name="windowImages"
               value="icons/esh_logo_16.png,icons/esh_logo_32.png,icons/esh_logo_128.png">
         </property>
         <property
               name="appName"
               value="Eclipse SmartHome Designer">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/esh400.png">
         </property>
         <property
               name="aboutText"
               value="">
         </property>
         <property
               name="startupForegroundColor"
               value="7F7F7F">
         </property>
         <property
               name="startupMessageRect"
               value="5,398,570,15">
         </property>
         <property
               name="startupProgressRect"
               value="0,414,580,12">
         </property>
   </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.smarthome.designer.core.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
