<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.smarthome.designer.ui.internal.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.smarthome.designer.ui.internal.perspectives.Perspective"
            fixed="false"
            id="org.eclipse.smarthome.designer.ui.perspective"
            name="Eclipse SmartHome Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.smarthome.designer.ui.perspective">
         <view
               closeable="false"
               id="org.eclipse.smarthome.designer.ui.ItemView"
               minimized="false"
               moveable="true"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.smarthome.designer.ui.perspective">
         <view
               closeable="false"
               id="org.eclipse.smarthome.designer.ui.ConfigView"
               minimized="false"
               moveable="true"
               ratio="0.4"
               relationship="top"
               relative="org.eclipse.smarthome.designer.ui.ItemView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.smarthome.designer.ui.perspective">
         <view
               closeable="false"
               id="org.eclipse.ui.browser.view"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Eclipse SmartHome Views"
            id="org.eclipse.smarthome.designer.ui">
      </category>
      <view
            category="org.eclipse.smarthome.designer.ui"
            class="org.eclipse.smarthome.designer.ui.internal.views.ItemView"
            icon="icons/items.png"
            id="org.eclipse.smarthome.designer.ui.ItemView"
            name="Items">
      </view>
      <view
            category="org.eclipse.smarthome.designer.ui"
            class="org.eclipse.smarthome.designer.ui.internal.views.ConfigNavigator"
            icon="icons/configure.png"
            id="org.eclipse.smarthome.designer.ui.ConfigView"
            name="Configurations">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.smarthome.designer.ui.ConfigView">
         <includes>
            <actionExtension
                  pattern="org.eclipse.smarthome.designer.ui.navigator.actions.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.eclipse.smarthome.designer.ui.ConfigView">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.smarthome.designer.ui.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewer
            viewerId="org.eclipse.smarthome.designer.ui.ConfigView">
         <popupMenu
               allowsPlatformContributions="false">
            <insertionPoint
                  name="group.open"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="separator"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit">
            </insertionPoint>
         </popupMenu>
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.smarthome.designer.ui.internal.views.ViewContentProvider"
            icon="icons/configure.png"
            id="org.eclipse.smarthome.designer.ui.navigator.configuration"
            labelProvider="org.eclipse.smarthome.designer.ui.internal.views.ViewLabelProvider"
            name="Eclipse SmartHome Configuration"
            priority="highest"
            providesSaveables="true">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </triggerPoints>
         <commonSorter
               class="org.eclipse.smarthome.designer.ui.internal.views.NameSorter">
         </commonSorter>
      </navigatorContent>
      <actionProvider
            class="org.eclipse.ui.internal.navigator.resources.actions.EditActionProvider"
            id="org.eclipse.smarthome.designer.ui.navigator.actions.edit">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.internal.navigator.resources.actions.OpenActionProvider"
            id="org.eclipse.smarthome.designer.ui.navigator.actions.open">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>

</plugin>
