<div layout="row" layout-align="start center">
	<p>
		<i class="material-icons">place</i>{{$ctrl.getLabel($ctrl.item, 'Location')}}
	</p>
</div>
<div layout="row" layout-align="start center" class="map-container">
	<div layout="row" layout-align="start center" flex>
		<map-component model="$ctrl.item.state" readOnly="$ctrl.item.readOnly" on-update="$ctrl.onMapUpdate($event)"/>
	</div>
</div>
<div layout="row" layout-align="start center">
	<div ng-show="$ctrl.item.readOnly" layout="row" layout-align="end center">
		<h2 class="state" ng-if="$ctrl.item.readOnly">{{$ctrl.formattedState}}</h2>
	</div>
	<div ng-show="!$ctrl.item.readOnly" layout="row" layout-align="end center">
		<h2 class="state edit" ng-if="!$ctrl.editMode" ng-click="$ctrl.editState()">{{$ctrl.formattedState}}</h2>
		<md-input-container ng-show="$ctrl.editMode"> <input ng-model="$ctrl.item.state" aria-label={{$ctrl.item.label}}></input> </md-input-container>
		<i class="md-button control-button material-icons" ng-show="$ctrl.editMode" ng-click="$ctrl.updateState()">check</i>
	</div>
</div>
<div layout="row" item-state-dropdown layout-align="end center" ng-if="isOptionList($ctrl.item) && !$ctrl.item.readOnly"></div>
