{{^bridgeList.configDescriptions.empty}}
## Bridge Config
{{/bridgeList.configDescriptions.empty}}

{{#bridgeList}}
{{#model}}
{{#configDescriptions}}
### {{id}}
{{>configDescriptions}}
{{/configDescriptions}}
{{/model}}
{{/bridgeList}}
