# {{binding.name}} - {{binding.author}}

{{binding.description}}

{{>partials/bridges}}

{{>partials/bridgeConfig}}

{{>partials/things}}

{{>partials/thingConfig}}

{{>partials/channelGroups}}

{{>partials/channels}}