// Checkbox
md-checkbox {
    .inline {
        display: inline;
    	margin: 0px 15px 0px 0px;
    }
    &.md-default-theme {
        &.md-checked {
            .md-icon {
                background-color: #4CAF50;
            }
        }
    }
}
