/* Selection List */

.selection-list > div {
	position: relative;
}

.selection-list > div:hover {
	cursor: pointer;
}

.selection-list h3 {
	margin: 10px 0px;
}

.selection-list .md-icon-chevron-right {
	font-size: 30px;
	color: #999;
}

.selection-list hr {
	margin: 5px 0px;
}
