<p>{{::$ctrl.namespace}}</p>
<div>
    <span>{{::$ctrl.mainParameter.description}}</span>
    <div ng-if="$ctrl.hasOptions()" class="container options">
        <md-select placeholder="Select" class="controlSelect" ng-model="$ctrl.metadata.value" aria-label={{::$ctrl.namespace}}> 
            <md-option ng-value="option.value" ng-repeat="option in ::$ctrl.mainParameter.options"> {{::option.label}} </md-option> 
        </md-select>
    </div>
    <div ng-if="!$ctrl.hasOptions()" class="container">
        <md-input-container> 
            <input type="text" name="{{::$ctrl.namespace}}" ng-model="$ctrl.metadata.value" aria-label={{::$ctrl.namespace}}></input> 
        </md-input-container>
    </div>
    <div ng-if="$ctrl.hasParameters()">
        <button class="md-button" ng-click="$ctrl.editParameters($event)">Parameters</button>
    </div>
    
</div>
