<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.smarthome.model.thing.runtime.internal.ThingRuntimeExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
            type="things">
      </parser>
   </extension>
   <extension
         point="org.eclipse.xtext.extension_resourceServiceProvider">
      <resourceServiceProvider
            class="org.eclipse.smarthome.model.thing.runtime.internal.ThingRuntimeExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceServiceProvider"
            uriExtension="things">
      </resourceServiceProvider>
   </extension>
</plugin>
