<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.emf.ecore.extension_parser">
    <parser
          class="org.eclipse.xtext.resource.impl.BinaryGrammarResourceFactoryImpl"
          type="xtextbin">
    </parser>
 </extension>

</plugin>
