<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="SmartHome" sequenceNumber="127">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.inject" version="3.0.0.v201312141243"/>
<unit id="com.google.inject.source" version="3.0.0.v201312141243"/>
<unit id="com.google.gson" version="2.2.4.v201311231704"/>
<unit id="com.google.gson.source" version="2.2.4.v201311231704"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
<unit id="com.ibm.icu.base" version="52.1.0.v201404171520"/>
<unit id="com.ibm.icu.base.source" version="52.1.0.v201404171520"/>
<unit id="com.sun.jersey" version="1.17.0.v20130314-2020"/>
<unit id="com.sun.jersey.source" version="1.17.0.v20130314-2020"/>
<unit id="javax.persistence" version="1.0.0.v200905011740"/>
<unit id="javax.persistence.source" version="1.0.0.v200905011740"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="javax.annotation" version="1.2.0.v201401042248"/>
<unit id="javax.inject" version="1.0.0.v20091030"/>
<unit id="javax.transaction" version="1.1.1.v201105210645"/>
<unit id="javax.mail.glassfish" version="1.4.1.v201108011116"/>
<unit id="javax.servlet" version="3.1.0.v20140303-1611"/>
<unit id="javax.servlet.source" version="3.1.0.v20140303-1611"/>
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="javax.activation.source" version="1.1.0.v201211130549"/>
<unit id="javax.ws.rs" version="1.1.1.v20130318-1750"/>
<unit id="javax.ws.rs.source" version="1.1.1.v20130318-1750"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
<unit id="org.apache.commons.exec" version="1.1.0.v201301240602"/>
<unit id="org.apache.commons.exec.source" version="1.1.0.v201301240602"/>
<unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.codec.source" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.collections.source" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
<unit id="org.apache.commons.net.source" version="3.2.0.v201305141515"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.core.source" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.jaxrs" version="1.6.0.v20101005-1100"/>
<unit id="org.codehaus.jackson.jaxrs.source" version="1.6.0.v20101005-1100"/>
<unit id="org.codehaus.jackson.xc" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.xc.source" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/>
<unit id="org.codehaus.jackson.mapper.source" version="1.6.0.v20101005-0925"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.json" version="1.0.0.v201011060100"/>
<unit id="org.objectweb.asm" version="5.0.1.v201404251740"/>
<unit id="org.objectweb.asm.source" version="5.0.1.v201404251740"/>
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.classic.source" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core.source" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j.source" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.ext" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.ext.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jul" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jul.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jcl" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.jcl.source" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.log4j.source" version="1.7.2.v20130115-1340"/>
<unit id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.12.0.v20170519-1412"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.12.0.v20170519-1412"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.12.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtend" version="2.2.0.v201605260315"/>
<repository location="http://download.eclipse.org/releases/oxygen/201709271000"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.9.1.201705291011"/>
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.9.1.201705291011"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.9.1.201705291011"/>
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.9.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.0.v20150601-0402"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/2.11/core/R201506010402"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/lsp4j/updates/releases/0.2.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.codehaus.groovy23.feature.feature.group" version="2.9.1.xx-201411061335-e44-RELEASE"/>
<repository location="http://dist.springsource.org/release/GRECLIPSE/2.9.1/e4.4"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.0.v20170531-1133"/>
<unit id="org.eclipse.jdt.feature.group" version="3.13.0.v20170612-0950"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7/R-4.7-201706120950"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.jupnp.feature.feature.group" version="0.0.0"/>
<repository location="http://www.jupnp.org/update-site/2.4.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.jaxrs.provider.security.feature.source.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.connector.feature.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.connector.feature.source.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.provider.security.feature.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.jersey.runtime.feature.source.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.provider.sse.feature.source.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.jersey.runtime.feature.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.provider.sse.feature.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.provider.swagger.feature.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.provider.swagger.feature.source.feature.group" version="0.0.0"/>
<repository location="http://hstaudacher.github.io/osgi-jax-rs-connector/5.3.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.paho.client.mqttv3" version="1.0.2"/>
<repository location="http://download.eclipse.org/paho/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.minidev.accessors-smart" version="0.0.0"/>
<unit id="net.minidev.accessors-smart.source" version="0.0.0"/>
<unit id="com.jayway.jsonpath.json-path" version="0.0.0"/>
<unit id="com.jayway.jsonpath.json-path.source" version="0.0.0"/>
<unit id="org.mapdb.mapdb" version="0.0.0"/>
<unit id="org.mapdb.mapdb.source" version="0.0.0"/>
<unit id="net.minidev.json-smart" version="0.0.0"/>
<unit id="net.minidev.json-smart.source" version="0.0.0"/>
<unit id="javax.measure.unit-api" version="0.0.0"/>
<unit id="javax.measure.unit-api.source" version="0.0.0"/>
<unit id="tec.uom.lib.uom-lib-common" version="0.0.0"/>
<unit id="tec.uom.lib.uom-lib-common.source" version="0.0.0"/>
<unit id="tec.uom.se" version="0.0.0"/>
<unit id="tec.uom.se.source" version="0.0.0"/>
<unit id="org.h2" version="0.0.0"/>
<unit id="org.h2.source" version="0.0.0"/>
<unit id="org.osgi.service.jdbc" version="0.0.0"/>
<unit id="org.osgi.service.jdbc.source" version="0.0.0"/>
<unit id="californium-osgi" version="0.0.0"/>
<unit id="org.eclipse.californium.element-connector" version="0.0.0"/>
<unit id="org.eclipse.californium.scandium" version="0.0.0"/>
<unit id="osgi.annotation" version="0.0.0"/>
<unit id="osgi.annotation.source" version="0.0.0"/>
<unit id="org.mockito.mockito-core" version="0.0.0"/>
<unit id="org.mockito.mockito-core.source" version="0.0.0"/>
<unit id="org.objenesis" version="0.0.0"/>
<unit id="org.objenesis.source" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy.source" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy-agent" version="0.0.0"/>
<unit id="net.bytebuddy.byte-buddy-agent.source" version="0.0.0"/>
<unit id="org.eclipse.soda.dk.comm" version="0.0.0"/>
<unit id="org.eclipse.soda.dk.comm.aarch64" version="0.0.0"/>
<unit id="org.eclipse.soda.dk.comm.armv6hf" version="0.0.0"/>
<unit id="org.eclipse.soda.dk.comm.x86_64" version="0.0.0"/>
<repository location="http://eclipse.github.io/smarthome/third-party/target/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.jmdns.feature.feature.group" version="0.0.0"/>
<repository location="http://www.jmdns.org/update-site/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.client" version="0.0.0"/>
<unit id="org.eclipse.jetty.websocket.api" version="0.0.0"/>
<unit id="org.eclipse.jetty.websocket.common" version="0.0.0"/>
<unit id="org.eclipse.jetty.websocket.client" version="0.0.0"/>
<unit id="org.eclipse.jetty.continuation" version="0.0.0"/>
<unit id="org.eclipse.jetty.deploy" version="0.0.0"/>
<unit id="org.eclipse.jetty.http" version="0.0.0"/>
<unit id="org.eclipse.jetty.osgi.boot" version="0.0.0"/>
<unit id="org.eclipse.jetty.osgi.httpservice" version="0.0.0"/>
<unit id="org.eclipse.jetty.osgi.alpn.fragment" version="0.0.0"/>
<unit id="org.eclipse.jetty.proxy" version="0.0.0"/>
<unit id="org.eclipse.jetty.security" version="0.0.0"/>
<unit id="org.eclipse.jetty.server" version="0.0.0"/>
<unit id="org.eclipse.jetty.servlet" version="0.0.0"/>
<unit id="org.eclipse.jetty.util" version="0.0.0"/>
<unit id="org.eclipse.jetty.webapp" version="0.0.0"/>
<unit id="org.eclipse.jetty.xml" version="0.0.0"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.3.15.v20161220"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="nrjavaserial.feature.group" version="3.12.0"/>
<repository location="http://dl.bintray.com/openhab/p2/nrjavaserial/3.12.0/"/>
</location>
<location path="${project_loc:targetplatform}/third-party" type="Directory"/>
</locations>
</target>
