// Buttons

// Core btn
.md-button {
    &[class*="md-icon-"] {
        margin: 0;
        min-width: 0;
        &:before {
            font-size: 24px;
            vertical-align: middle;
        }
        * {
            vertical-align: middle;
        }
    }
    &:not([disabled]) {
        box-shadow: none;
        -webkit-box-shadow: none;
        &.md-fab {
            &:focus,
            &:hover {
                box-shadow: 0 0 6px 0 rgba(0,0,0,.4);
                transform: none;
            }
            &:not([disabled]) {
                background-color: inherit;
            }
        }
        &.md-raised {
            &:focus,
            &:hover {
                box-shadow: 0 0 6px 0 rgba(0,0,0,.4);
                transform: none;
            }
            &:not([disabled]) {
                background-color: inherit;
            }
        }
    }
    &:hover {
        box-shadow: 0 0 6px 0 rgba(0,0,0,.4);
    }
    &.md-default-theme {
        &.md-primary {
            color: #01324D;
        }
    }
    &.md-raised {
        &:not([disabled]) {
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
    &.md-fab {
        &:not([disabled]) {
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        }
    }
    &.green {
        background-color: green;
        color: white;
    }
    &.white {
        background-color: white;
    }
    &.highlighted {
        background-color: #4CAF50;
        color: white;
    }
    span {
        &[class*="md-icon-"] {
            margin-right: 5px;
        }
    }
}

// Radio btn
md-radio-button {
    &.md-default-theme {
        .md-off {
            border-color: #CCC;
        }
        .md-on {
            background-color: #01324D;
        }
        &.md-checked {
            .md-off {
                border-color: #CCC;
            }
            .md-ink-ripple {
                color: #01324D;
            }
        }
    }
}
md-radio-group.md-default-theme:focus {
	border-color: transparent;
}
