.vcard
{
min-height: 0!important;
}

.rules-dialog{
	min-width:40%;
}

.md-custom-plus
{
	min-height:33px!important;
	width:33px!important;
	font-size:22px!important;
	font-weight:300!important;
	height:33px!important;
	line-height:normal!important;
}
.md-custom-plus > span
{
	padding-left:1px;
}
.md-title-nospace{
	margin:0px!important;
}
