####################################################################################### 
#####                        General configurations                               #####
####################################################################################### 

# Configuration folders (must exist as a subdirectory of "configurations"; the value
# tells the number of seconds for the next scan of the directory for changes. A
# value of -1 deactivates the scan).
# A comma separated list can follow after the refresh value. This list defines a filter
# for valid file extensions for the models.
org.eclipse.smarthome.folder:items=10,items
org.eclipse.smarthome.folder:sitemaps=10,sitemap
org.eclipse.smarthome.folder:rules=10,rules
org.eclipse.smarthome.folder:scripts=10,script
org.eclipse.smarthome.folder:persistence=10,persist
#org.eclipse.smarthome.folder:things=10,things

# The name of the default persistence service to use
#org.eclipse.smarthome.persistence:default=

# This section defines the configuration for the chart servlet.
org.eclipse.smarthome.chart:provider=default
