<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{30}[:%line] - %msg%n%ex{10}</pattern>
		</encoder>
	</appender>

	<logger name="smarthome.event" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
    <logger name="smarthome.event.ItemStateEvent" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="smarthome.event.ThingStatusInfoEvent" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    

	<logger name="org.eclipse.smarthome" level="DEBUG" />

	<logger name="OSGi" level="WARN" />
	<logger name="org.eclipse.jetty" level="WARN" />
	<logger name="org.jupnp" level="INFO" />
	<logger name="javax.jmdns" level="ERROR" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>
